#home-main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#home-main > * {
    margin-top: 15px;
    margin-bottom: 15px;
}

#welcome-message {
    font-size: 30px;
}