#home-main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#welcome-message {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}