#app-root {
    height: 100vh;
    width: 100vw;
    background-color: rgb(35, 35, 35);
    color: rgb(215, 215, 215);
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 8vw 1fr;
}

.main-view {
    grid-column: 2/3;
}